# ? What do these do?
__pycache__

# Local Notes & Test Files
psql.md
sample.py

# Old files, can be reworked
.old

# Configuration folder
config_files/
# Configuration folder, but for tests
config_files_2/

# pytest --cov=tests/
.coverage