# ? What do these do?
__pycache__

# Local Notes & Files to test stuff out
playground.py
tests.md

# Old files, can be reworked
.old

# Configuration folder
set_up_2.py


# pytest --cov=tests/ files
.coverage
cov_annotate

# Environment
*.env
!example.env