# This should just be a general folder for all pulled cards
logs/*/*.log

# ? What do these do?
*/*/__pycache__
variables.py
__pycache__


# Local Notes & Test Files
psql_notes.md
psql.md
sample.py

# TODO: Configure the test folder
tests

# Old files, can be reworked
.old

# Configuration folder
config_files/
